.folder-select-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-select-wrap .card-wrap {
  width: 80vw;
  height: 70vh;
  cursor: pointer;
}

.folder-select-wrap .folder-select {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
