.picture-view-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.picture-view-wrap .tree-wrap {
  width: 300px;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.picture-view-wrap .content-wrap {
  flex: 1;
}
